body {
    font-family: Roboto-Black, sans-serif;
    font-size: 16px;
    src: url(fonts/Roboto-Black.ttf);
    color: white;
}

.container {
    width: 1110px;
    margin: 0 auto;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height:90px;
}

.header {
    background: url("../img/bgc.png") 0 0 no-repeat;
    background-size: cover;
    min-height: 526px;
    max-height: 800px;
    display: flex;
    height:100vh;
    flex-direction: column;
}

.menu {
    display: flex;
}

.border {
    border-bottom: 1px solid #ffffff;
    margin-top: -1px;
    height:1px;
}

.menu-items:not(:last-child) {
    margin-right: 47px; 
}

.bottom {
    display: flex;
    height: 86%;
}

.text-palet-2 {
    padding-right: 40px;
}

.text-palet {
    padding-right: 150px;
}

.right {
    width: 50%;
    padding-top: 304px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
    padding-bottom: 53px;
}

.palet {
    min-height: 148px;
    width: 255px;
    padding: 30px;
    padding: 40 40px;
}

.palet:nth-child(even) {
    margin-left:30px;
}

.palet:nth-child(1),
.palet:nth-child(2) {
    margin-bottom:30px;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-logo {
    font-size: 24px;
    padding-right: 150px;
}

.logo-text {
    font-size: 64px;
    line-height: 74px;
}

.blue {
    background: #2378FC;
}

.red {
    background: #F6404F;
}

.yellow {
    background: #FFC41E;
}

.turquoise {
    background: #30BCC9;
}

.font-size-sm {
    font-size: 12px;
    line-height: 14px;
}