body {
    font-family: Roboto-Black, sans-serif;
    font-size: 16px;
    src: url(fonts/Roboto-Black.ttf);
    color: white;
}

.container {
    width: 1110px;
    margin: 0 auto;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height:90px;
}

.header {
    background: url("../img/bgc.png") 0 0 no-repeat;
    
    min-height: 526px;
    max-height: 800px;
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
}

.border {
    border-bottom: 1px solid #ffffff;
    margin-top: -1px;
    height:1px;
}

.menu-items:not(:last-child) {
    margin-right: 47px; 
}

.bottom {
    display: flex;
    background-size: contain;
}

.right {
    width: 50%;
    padding-top: 304px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
    padding-bottom: 53px;
}

.palet {
    min-height: 148px;
    min-width: 255px;
}

.palet:nth-child(even) {
    margin-left:30px;
}

.palet:nth-child(1) {
    margin-bottom:30px;
}

.palet:nth-child(2) {
    margin-bottom:30px;
}

.left {
    width: 50%;
    padding-top: 184px;
}

.text-logo{
    font-size: 24px;
    padding-right: 150px;
}

.logo-text {
    font-size: 64px;
}

.link-complex {
    font-size: 14px;
}

.blue {
    background: #2378FC;
    width: 255px;
    height: 148px;
}

.red {
    background: #F6404F;
    width: 255px;
    height: 175px;
}

.yellow {
    background: #FFC41E;
    width: 255px;
    height: 175px;
}

.turquoise {
    background: #30BCC9;
    width: 255px;
    height: 148px;
}

.h3-bashbar {
    white-space: pre;
}

.link-block {
    font-size: 12px;
    white-space: pre;
    padding-left: 40px;
}